//! **************************************************************************
// Written by: Map I.27 on Sat Mar 03 03:48:59 2007
//! **************************************************************************

SCHEMATIC START;
NET "PLB_Clk_BUFGP/IBUFG" BEL "PLB_Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
PIN the_sprite_ram/BU2/U0/blk_mem_generator/cstr/r0/ram/ram.A_pins<53> = BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/r0/ram/ram.A" PINNAME
        CLKA;
PIN the_sprite_ram/BU2/U0/blk_mem_generator/cstr/r1/ram/ram.A_pins<53> = BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/r1/ram/ram.A" PINNAME
        CLKA;
PIN the_sprite_ram/BU2/U0/blk_mem_generator/cstr/r2/ram/ram.A_pins<53> = BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/r2/ram/ram.A" PINNAME
        CLKA;
PIN the_sprite_ram/BU2/U0/blk_mem_generator/cstr/r3/ram/ram.A_pins<53> = BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/r3/ram/ram.A" PINNAME
        CLKA;
PIN
        the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/r0/ram/ram.A_pins<53>
        = BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/r0/ram/ram.A"
        PINNAME CLKA;
PIN the_bg_ram/BU2/U0/blk_mem_generator/cstr/r0/ram/ram.A_pins<53> = BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/r0/ram/ram.A" PINNAME CLKA;
PIN the_bg_ram/BU2/U0/blk_mem_generator/cstr/r1/ram/ram.A_pins<53> = BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/r1/ram/ram.A" PINNAME CLKA;
TIMEGRP PLB_Clk = BEL "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_0"
        BEL "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_1" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_2" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_3" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_4" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_5" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_6" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_7" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_8" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_9" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_10" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_11" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_12" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_13" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_14" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_15" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_16" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_17" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_18" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_19" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_20" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_21" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_22" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_23" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_24" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_25" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_26" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_27" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_28" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_29" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_30" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_31" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_32" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_33" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_34" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_35" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_36" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_37" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_38" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_39" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_40" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_41" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_42" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_43" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_44" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_45" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_46" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_47" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_48" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_49" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_50" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_51" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_52" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_53" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_54" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_55" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_56" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_57" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_58" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_59" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_60" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_61" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_62" BEL
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/douta_i_63" PIN
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/r0/ram/ram.A_pins<53>"
        PIN
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/r1/ram/ram.A_pins<53>"
        PIN
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/r2/ram/ram.A_pins<53>"
        PIN
        "the_sprite_ram/BU2/U0/blk_mem_generator/cstr/r3/ram/ram.A_pins<53>"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_0"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_1"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_2"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_3"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_4"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_5"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_6"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_7"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_8"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_9"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_10"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_11"
        BEL
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/douta_i_12"
        PIN
        "the_sprite_transparency_ram/BU2/U0/blk_mem_generator/cstr/r0/ram/ram.A_pins<53>"
        BEL "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_0" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_1" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_2" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_3" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_4" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_5" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_6" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_7" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_8" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_9" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_10" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_11" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_12" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_13" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_14" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_15" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_16" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_17" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_18" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_19" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_20" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_21" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_22" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_23" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_24" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_25" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_26" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_27" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_28" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_29" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_30" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_31" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_32" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_33" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_34" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_35" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_36" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_37" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_38" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_39" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_40" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_41" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_42" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_43" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_44" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_45" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_46" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_47" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_48" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_49" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_50" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_51" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_52" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_53" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_54" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_55" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_56" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_57" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_58" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_59" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_60" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_61" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_62" BEL
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/douta_i_63" PIN
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/r0/ram/ram.A_pins<53>" PIN
        "the_bg_ram/BU2/U0/blk_mem_generator/cstr/r1/ram/ram.A_pins<53>" BEL
        "bg_ram_addr_3" BEL "bg_ram_addr_2" BEL "bg_ram_addr_1" BEL
        "bg_ram_addr_0" BEL "master_state_current_FFd1" BEL
        "master_state_current_FFd2" BEL "master_state_current_FFd3" BEL
        "master_state_current_FFd4" BEL "master_state_current_FFd7" BEL
        "master_state_current_FFd5" BEL "master_state_current_FFd6";
TS_PLB_Clk = PERIOD TIMEGRP "PLB_Clk" 10 ns HIGH 50%;
SCHEMATIC END;
